body {
    font-family: 'Lobster', cursive;
    background-color: #fafafa;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.recipe-card,
#recipe-details-section {
    background-color: #ffe0bd;  /* Light pastel orange */
    margin: 20px;
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    max-width: 600px;  /* Limiting the width of the cards */
}

.recipe-card img,
#recipe-details-section img {
    max-width: 100%;
    border-radius: 4px;
}

.recipe-card h2,
#recipe-details-section h1, #recipe-details-section h2 {
    color: #6a0572;  /* Darker pastel purple */
}

.recipe-card:hover {
    cursor: pointer;
    box-shadow: 0px 4px 15px rgba(0,0,0,0.1);
}

button {
    background-color: #ab83a1;  /* Pastel purple */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #885378;
}

#button-section {
    display: flex;
    /* Add additional stylings below */
    margin: 10px;  /* Optional: to provide some space between buttons */
    padding: 20px 20px 10px 20px;
    border: 2px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#button-section button {
    display: inline-block;
    /* Add additional stylings below */
    margin: 10px;  /* Optional: to provide some space between buttons */
    padding: 20px 20px 10px 20px;
    border: 2px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#toggle-listening  {
    background-color: #f5db87;  /* Pastel purple */
    color: rgba(0, 0, 0, 0.942);
    padding: 20px 20px 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#stop-speaking {
    background-color: #f5db87;  /* Pastel purple */
    color: rgba(0, 0, 0, 0.942);
    padding: 20px 20px 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

header {
    background-color: #fafafa;
    color: rgba(196, 62, 62, 0.777);
    text-align: center;
    padding: 1em;
}

header, h1, h2 {
    font-family: 'Pacifico', cursive;
}

#search-section {
    margin: 1em;
}


#recipes-section {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: center;
}

#random-recipe-section {
    margin: 1em;
}

button {
    font-family: 'Baloo Tammudu 2', cursive;
    font-weight: 900; /* Using the bold version for buttons and selects */
    font-size: 16px; /* Adjust this value according to your preference */
    line-height: 1; /* Adjust this value. A value around 1 to 1.3 is usually good for buttons. */
    vertical-align: middle;
    box-sizing: border-box;
    padding: 20px 20px 10px 20px;
}

select {
    font-family: 'Baloo Tammudu 2', cursive;
}